<div class="row white-text z-depth-3" data-aos="zoom-in" data-aos-duration="1000">
  <div class="col s12 m4 l4 donor" data-aos="zoom-in" data-aos-duration="500">
    <div class="data-container">
      <h4>QUIERO SER</h4>
      <h4>DONANTE</h4>
      <br>
      <a class="waves-effect waves-light btn-large">Saber más</a>
    </div>
  </div>
  <div class="col s12 m4 l4 beneficiary" data-aos="zoom-in" data-aos-duration="500">
    <div class="data-container">
      <h4>QUIERO SER</h4>
      <h4>BENEFICIARIO</h4>
      <br>
      <a class="waves-effect waves-light btn-large">Saber más</a>
    </div>
  </div>
  <div class="col s12 m4 l4 voluntary" data-aos="zoom-in" data-aos-duration="500">
    <div class="data-container">
      <h4>QUIERO SER</h4>
      <h4>VOLUNTARIO</h4>
      <br>
      <a class="waves-effect waves-light btn-large">Saber más</a>
    </div>
  </div>
</div>