<h4 class="center-align">Noticias</h4>
<div class="row center-align">
  <div *ngFor="let new of news$ | async" class="col s12 m4">
    <div class="card left-align" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" [src]="new.image? new.image : defaultImage" [alt]="new.title">
      </div>
      <div class="card-content">
        <span class="activator">
          <i class="material-icons right">more_vert</i>
        </span>
        <span class="card-title activator grey-text text-darken-4">
          {{ new.title }}
        </span>
        <p>
          <a (click)="updateNewViews(new)" [href]="new.url" target="_blank" rel="noopener noreferrer">
            Leer Más
          </a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title">
          <i class="material-icons right">close</i>
        </span>
        <span class="card-title grey-text text-darken-4">
          {{ new.title }}
        </span>
        <p>{{ new.description }}</p>
      </div>
    </div>
  </div>
  <div class="col s12">
    <a routerLink="/news" class="btn-large waves-effect see-more">Ver Más</a>
  </div>
</div>
