<footer class="page-footer">
  <div class="container">
    <div class="row" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
      <div class="col l6 s12">
        <div id="footer-logo"></div>
        <div class="row">
          <h5>
            <a class="grey-text text-lighten-4" routerLink="/contact-us"> Contáctanos</a>
          </h5>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <div class="row">
          <h5 class="white-text">Redes sociales</h5>
        </div>
        <div class="row">
          <div class="col l2 s3">
            <a class="grey-text text-lighten-4" href="https://www.facebook.com/LaManzanaRojaBolivia" target="_blank"
              rel="noopener noreferrer"><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <div class="col l2 s3">
            <a class="grey-text text-lighten-4" href="https://www.instagram.com/lamanzanaroja.ba" target="_blank"
              rel="noopener noreferrer"><i class="fab fa-instagram fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{currentYear}} La Manzana Roja
    </div>
  </div>
</footer>
