<div class="parallax-container">
  <div class="banner-container valign-wrapper center-align">
    <div class="container">
      <div class="row" data-aos="zoom-in" data-aos-duration="1000">
        <h1 class="white-text">La Manzana Roja</h1>
        <a class="btn-large waves-effect">Donar</a>
      </div>
      <span class="arrow-down" data-aos="fade-up" data-aos-easing="ease">
        <i class="material-icons white-text">keyboard_arrow_down</i>
      </span>
    </div>
  </div>
  <div lmrParallax class="parallax">
    <img src="assets/images/home/banner-unsplash.jpg" alt="La Manzana Roja">
  </div>
</div>
