@import "../../../mat-variables";

.parallax-container {
  @media #{$small-and-down} {
    height: calc(100vh - 56px);
  }
}

.arrow-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 200px;
  margin: auto;
  display: block;
  padding-bottom: 40px;
}

.arrow-down .material-icons {
  margin-top: 20px;
  display: block;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
