@import '../node_modules/materialize-css/sass/components/color-variables';

$primary-color: color('red', 'lighten-1') !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;

@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}

@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: color('green', 'darken-2') !default;
$success-color: color('green', 'base') !default;
$error-color: color('red', 'base') !default;

$link-color: color('light-blue', 'darken-1') !default;

@import '../node_modules/materialize-css/sass/materialize';
@import '../node_modules/aos/dist/aos.css';
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
  font-family: 'Maven Pro', sans-serif;
}

body,
lmr-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

.banner-opacity {
  background-color: #ff000066;
}

.banner-container {
  width: 100%;
}

.card {
  border-radius: 7px;

  .card-image img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  &.horizontal .card-image img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}
