<header>
  <div class="navbar-fixed">
    <nav class="white">
      <div class="nav-wrapper">
        <div class="container">
          <a routerLink="/"><img class="brand-logo" src="assets/images/logo-02.png"></a>
          <a data-target="mobile-menu" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="black-text">Sección 1</a></li>
            <li><a class="black-text">Sección 2</a></li>
            <li><a class="black-text">Sección 3</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <ul lmrSidenav class="sidenav" id="mobile-menu">
    <li><a class="sidenav-close">Sección 1</a></li>
    <li><a class="sidenav-close">Sección 2</a></li>
    <li><a class="sidenav-close">Sección 3</a></li>
  </ul>
</header>
