<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">La Manzana Roja</a>
        <a data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a>Sección 1</a></li>
          <li><a>Sección 2</a></li>
          <li><a>Sección 3</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul lmrSidenav class="sidenav" id="mobile-menu">
    <li><a class="sidenav-close">Sección 1</a></li>
    <li><a class="sidenav-close">Sección 2</a></li>
    <li><a class="sidenav-close">Sección 3</a></li>
  </ul>
</header>
