<div class="parallax-container banner-opacity valign-wrapper ">
  <div class="banner-container center-align">
    <div class="container">
          <div class="row white-text">
              <div class="col s3 center-align" data-aos="zoom-in" data-aos-duration="1000">
                <i class="fas fa-carrot fa-7x fa-inverse"></i>
                <h5>{{foodMetric}}</h5>
                <h6>KILOS DE ALIMENTOS ENTREGADOS.</h6>
              </div>
              <div class="col s3 center-align" data-aos="zoom-in" data-aos-duration="1000">
                <i class="fas fa-hand-holding-heart fa-7x fa-inverse"></i>
                <h5 class="white-text">7777</h5>
                <h6>VOLUNTARIOS.</h6>
              </div>
              <div class="col s3 center-align" data-aos="zoom-in" data-aos-duration="1000">
                <i class="fas fa-grin-beam fa-7x fa-inverse"></i>
                <h5>745</h5>
                <h6>PERSONAS BENEFICIADAS.</h6>
              </div>
              <div class="col s3 center-align" data-aos="zoom-in" data-aos-duration="1000">
                <i class="fas fa-handshake fa-7x fa-inverse"></i>
                <h5>7893</h5>
                <h6>DONANTES.</h6>
              </div>
            </div>
    </div>
  </div>
  <div lmrParallax class="parallax">
    <img src="assets/images/home/metrics-unsplash.jpg" alt="La Manzana Roja">
  </div>
</div>
  